*.o
*.builtin
*.order
*.cmd
*.d
*.cpio
*.gz
/.tmp_?*
*?.gen.?
*.fw
*.ko
*.a
*.mod.c
/arch/*/boot/*Image
*.s
/vmlinux
/System.map
*.lzo
*.lds
/.config.old
/arch/arm/boot/compressed/ashldi3.S
/arch/arm/boot/compressed/lib1funcs.S
/drivers/tty/vt/consolemap_deftbl.c
/drivers/tty/vt/defkeymap.c
/include/config/android/switch.h
/include/config/auto.conf
/include/config/iosched/sioplus.h
/include/config/ksm.h
/include/config/module/force/
/include/config/module/srcversion/
/include/config/msm/direct/
/include/config/msm/memory/
/include/config/msm7x00a/idle/sleep/mode/power/collapse/
/include/config/printk/pid.h
/include/config/rcu/boost.h
/include/config/rcu/boost/
/include/config/rcu/fast/
/include/config/sched/
/include/config/swap.h
/include/config/tristate.conf
/include/config/wq/
/include/generated/asm-offsets.h
/include/generated/autoconf.h
/include/generated/compile.h
/include/generated/utsrelease.h
/kernel/config_data.h
/kernel/timeconst.h
/lib/crc32table.h
/lib/gen_crc32table
/scripts/kconfig/mconf
/usr/gen_init_cpio
/.version
/scripts/basic/fixdep
/scripts/bin2c
/scripts/conmakehash
/scripts/genksyms/genksyms
/scripts/kallsyms
/scripts/kconfig/conf
/scripts/mod/mk_elfconfig
/scripts/mod/modpost
