*.a
/arch/arm/boot/compressed/ashldi3.S
/arch/arm/boot/compressed/lib1funcs.S
/arch/arm/boot/compressed/vmlinux
/arch/*/boot/*Image
*.builtin
*.cmd
/.config.old
*.cpio
*.d
/drivers/tty/vt/consolemap_deftbl.c
/drivers/tty/vt/defkeymap.c
*.fw
*?.gen.?
*.gz
/include/config/android/switch.h
/include/config/auto.conf
/include/config/iosched/sioplus.h
/include/config/kernel.release
/include/config/ksm.h
/include/config/mmc/block/bounce.h
/include/config/module/force/
/include/config/module/srcversion/
/include/config/msm7x00a/idle/sleep/mode/power/collapse/
/include/config/msm/direct/
/include/config/msm/memory/
/include/config/printk/pid.h
/include/config/rcu/boost/
/include/config/rcu/boost.h
/include/config/rcu/fast/
/include/config/sched/
/include/config/sec/log/
/include/config/sec/log.h
/include/config/swap.h
/include/config/tristate.conf
/include/config/wq/
/include/generated/asm-offsets.h
/include/generated/autoconf.h
/include/generated/compile.h
/include/generated/utsrelease.h
/kernel/config_data.h
/kernel/timeconst.h
*.ko
*.lds
/lib/crc32table.h
/lib/gen_crc32table
*.lzo
/Makefile
/make_kernel_GT-I8260.sh
*.mod.c
/Module.symvers
*.o
*.order
*.s
/scripts/basic/fixdep
/scripts/bin2c
/scripts/conmakehash
/scripts/genksyms/genksyms
/scripts/kallsyms
/scripts/kconfig/conf
/scripts/kconfig/mconf
/scripts/mod/mk_elfconfig
/scripts/mod/modpost
/System.map
/.tmp_?*
/usr/gen_init_cpio
/.version
/vmlinux
